<main>
  
  <section id="welcome-hero">
    <div class="jumbotron">
      <div class="container">
        <h1>Hello. My name is <span>Vivek Rajkumar</span> and I have creative ideas and build websites</h1>
        <%= link_to "View my work", portfolio_path, class: "btn btn-primary btn-lg" %>
      </div>
    </div>
  </section>
  
</main>