<main>
  
  <section class="welcome hero">
    <div class="jumbotron">
      <div class="container">
        <h1>Hello. My name is <span>Vivek Rajkumar</span> and I have creative ideas and build websites</h1>
        <a class="btn btn-primary btn-lg">View my work</a>
      </div>
    </div>
  </section>
  
</main>