/* Welcome Page */
.welcome.hero .jumbotron {
  height: 40rem;
  background: url("https://portfolio-rails-2633.herokuapp.com/assets/home-db103bf75e724b89102c607792424914.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.welcome.hero .jumbotron .container {
  color: white;
  text-align: right;
}

.welcome.hero .jumbotron .container h1 {
  font-size: 3rem;
  margin-bottom: 4rem;
}

.welcome.hero .jumbotron .container h1 span {
  padding: 0 0.5rem;
  color: black;
  background-color: #e9e9e9;
}

/* Portfolio Page */
#portfolio-hero .jumbotron {
  background-image: url("https://portfolio-rails-2633.herokuapp.com/assets/slide01-9d5c1b911de14032bbc4cc7b19514447.jpg");
}
